h1,
h2,
h3,
h4,
h5,
h6 {font-family: 'NanumSquare', san-serif; color: red  letter-spacing: -0.2em;}

p {font-family: 'preconnect', san-serif;}
p.subtitle{
font-family:'black han sans', sans-serif;}

.main-text {font-weight: 400; font-size: 50px;}
 {text-align: center;}
 {letter-spacing: -0.2em;}
 {wokd-spacing: 0.2em;}
 {line-height:1.8em;}

.box-a{with:100px;}

display: block;

.box-b
display: inline
.
